<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="YAWAMT.Properties.Settings.UrlMonitoringConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Projecten\YAWAMT\UrlMonitoring\App_Data\UrlMonitoring.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="YAWAMT.Properties.Settings.DEVENTIT_MONITORING4ConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=DEVENTIT_MONITORING4;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>